/* /////////////////////////////////////////////////
                MISC
/////////////////////////////////////////////////*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --namari-spacer: 2rem;
  --namari-font: "Open Sans", sans-serif, Arial, Helvetica;
  --namari-black: #111;
  --namari-gold: #d4b866;
  --namari-gray: #c9c9c9;
  --namari-grayText: #a8a6a2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

html {
  background-color: #cccccc;
}

body {
  font-family: var(--namari-font);
  margin: 1rem;
  height: auto;
}

main {
  background-color: #fefefe !important;
}

/* ////////////////////////////////////////////////////
                HEADER | NAV
/////////////////////////////////////////////////*/

nav {
  padding-top: 2rem !important;
}

.nav-link {
  text-transform: uppercase;
  font-size: 13px;
}

.nav-link:hover {
  font-weight: 600;
}

.socials .nav-link {
  padding: 0 0.8rem !important;
}

.socials .nav-link {
  font-size: 1rem;
}

.socials .nav-link:hover {
  color: var(--namari-gold);
  transform: scale(150%);
  transition: 600ms ease-in;
}

.navbar-brand img {
  height: 22px !important;
}

nav ul.pages {
  flex-basis: 100%;
  justify-content: center;
}

/* ////////////////////////////////////////////////////
                HEADER | HEROSHOT
/////////////////////////////////////////////////*/

header {
  min-height: 100vh;
  background: url("../images/banner-images/banner-image-1.jpg") no-repeat fixed;
  background-position: top -2rem right 50%;
  background-size: 100%;
  background-origin: border-box;
}

#heroshot .heroContent {
  margin-top: 10rem;
}

#heroshot h1 {
  font-weight: 900;
  font-size: 3.5rem;
}

#heroshot .heroContent {
  position: relative;
  /* width: 40%; */
}

#heroshot .heroContent::before {
  content: "";
  height: 5px;
  width: 30px;
  background-color: var(--namari-gold);
  position: absolute;
  top: -30px;
  left: 0;
}

#heroshot h2 {
  font-weight: lighter;
  font-size: 1.1rem;
  font-family: var(--namari-font);
  margin: 2rem 0 4rem 0;
  color: var(--namari-black);
  position: relative;
}

#heroshot h2::after,
#services h2::after,
#beliving h2::after {
  content: "";
  height: 5px;
  width: 30px;
  background-color: var(--namari-gold);
  position: absolute;
  bottom: -30px;
  left: 0;
}

.btn {
  padding: 0.5rem 2rem;
  border-radius: 0;
}

.btn-primary {
  background-color: transparent;
  border: 4px solid var(--namari-black);
  color: var(--namari-black);
  font-weight: 600;
  text-transform: uppercase;
}

.btn-primary:hover {
  border-color: var(--namari-gold);
  color: var(--namari-gold);
  background-color: transparent;
}

#services h3,
#beliving h3 {
  text-transform: uppercase;
  color: var(--namari-gray);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#services h2,
#beliving h2 {
  font-weight: 900;
  font-size: 1.8rem;
  margin-bottom: 4rem;
  position: relative;
}

.lighter {
  font-weight: lighter;
  color: var(--namari-grayText);
}

/* ////////////////////////////////////////////////////
                SECTION | SERVICES
/////////////////////////////////////////////////*/

#services {
  min-height: 40vh;
  padding: var(--namari-spacer) 0;
}

/* CARDS */

#services .card {
  border: none !important;
  border-radius: 0;
}

.card-icon {
  font-size: 1.5rem;
  color: var(--namari-gold);
}

.card-title {
  margin-top: 1rem;
  font-weight: 800;
}

article:first-child .card-title {
  text-transform: uppercase;
}

/* ////////////////////////////////////////////////////
              SECTION | SERVICES | GALLERY
/////////////////////////////////////////////////*/

#gallery ul li {
  list-style-type: none;
  width: calc(100% / 3) !important;
  position: relative;
}

#gallery ul li img {
  width: 100%;
}

#gallery ul li .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;

  a {
    color: var(--namari-gold);
  }
}

#gallery ul li:hover .overlay {
  opacity: 1;
}

/* ////////////////////////////////////////////////////
              SECTION | BELIVING
/////////////////////////////////////////////////*/

#beliving blockquote {
  font-weight: 300;
}
